{% extends '@App/header.html.twig' %}
{% block title %}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .wrapper {
            width: 500px;
            margin: 50px auto;
            border: 1px solid lightgray;
            border-radius: 10px;
            padding: 50px;
            text-align: center;
        }
        .phrase {
            padding: 5px 10px;
            box-shadow: 0 1px 8px gray;
            margin: 0 10px 20px;
            font-size: 20px;
            font-weight: bold;
            color: #4c4c4c;
        }
        .form {
            margin: 50px auto;
            background: #e3e3e3;
            width: 400px;
            padding: 20px;
            border: 1px solid lightgray;
            border-radius: 10px;
        }
        .form input {
            margin: 10px;
        }
        .in-lang {
            font-size: 16px;
            text-transform: lowercase;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="wrapper">
        <h2 style="font-weight: normal">{{ 'The Phrase'|trans }} "<span class="not-found" style="color: #4c0004; font-weight: bold">
            {% if phrase.currentLocale == 'ru' %}
                {{ phrase.translate('ru').phrase }}
            {% else %}
                {{ phrase.translate('en').phrase }}
            {% endif %}
                </span>"
            {{ 'In other languages'|trans }}:
        </h2>
        {% for language in languages %}
            {% if language == 'en' %}
                <span class="in-lang">{{ 'In English'|trans }}:</span><br>
                <div class="phrase">{{ phrase.translate('en').phrase }}</div>
            {% elseif language == 'ru' %}
                <span class="in-lang">{{ 'In Russian'|trans }}:</span><br>
                <div class="phrase">{{ phrase.translate('ru').phrase }}</div>
            {% elseif language == 'fr' %}
                <span class="in-lang">{{ 'In French'|trans }}:</span><br>
                <div class="phrase">{{ phrase.translate('fr').phrase }}</div>
            {% elseif language == 'de' %}
                <span class="in-lang">{{ 'In German'|trans }}:</span><br>
                <div class="phrase">{{ phrase.translate('de').phrase }}</div>
            {% elseif language == 'ky' %}
                <span class="in-lang">{{ 'In Kyrgyz'|trans }}:</span><br>
                <div class="phrase">{{ phrase.translate('ky').phrase }}</div>
            {% endif %}
        {% endfor %}
        {% if app.user %}
            <form action="{{ path('translate', {'id' : phrase.id}) }}" method="post" class="form">
                {% if count == 5 == false %}
                <label for="selector">{{ 'Translate to'|trans }}</label><br>
                <select name="lang" id="selector">
                    {% if 'en' in languages == false%}
                    <option value="en">{{ 'English'|trans }}</option>
                    {% endif %}
                    {% if 'ru' in languages == false %}
                    <option value="ru">{{ 'Russian'|trans }}</option>
                    {% endif %}
                    {% if 'fr' in languages == false %}
                    <option value="fr">{{ 'French'|trans }}</option>
                    {% endif %}
                    {% if 'de' in languages == false %}
                    <option value="de">{{ 'German'|trans }}</option>
                    {% endif %}
                    {% if 'ky' in languages == false %}
                    <option value="ky">{{ 'Kyrgyz'|trans }}</option>
                    {% endif %}
                </select><br>
                <input type="text" style="width: 300px" name="translation"><br>
                <input type="submit" value="{{ 'Save'|trans }}" name="trans_button">
                {% else %}
                    <p>{{ 'The Phrase'|trans }} "<span class="not-found">
                        {% if phrase.currentLocale == 'ru' %}
                            {{ phrase.translate('ru').phrase }}
                        {% else %}
                            {{ phrase.translate('en').phrase }}
                        {% endif %}
                            </span>"
                        {{ 'is already fully translated'|trans }}
                    </p>
                {% endif %}
            </form>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
        {{ parent() }}
    <script>
        let phrases = $('.not-found');
        $.each(phrases, function (i, phrase) {
            if ($(phrase).text().trim() === '') {
                $(phrase).html(('{{ phrase.translate('ru').phrase }}'))
            }
        })
    </script>
{% endblock %}


