{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        body {
            margin: 0;
            padding: 0;
            word-wrap: break-word;
        }
        header {
            padding: 15px;
            background: #2a2a2a;
        }
        nav {
            position: relative;
            width: 800px;
            margin: 0 auto;
            text-align: center;
        }
        nav a {
            text-decoration: none;
            font-size: 20px;
            color: lightgray;
            margin: 0 20px;
        }
        nav a:hover {
            text-decoration: underline;
            color: white;
        }
        .change {
            position: absolute;
            right: 10px;
        }
        .change a {
            margin: 0 10px;
        }
    </style>
{% endblock %}
{% block body %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}">{{ 'Main'|trans }}</a>
            {% if app.user %}
                <a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'Login'|trans }}</a>
            {% endif %}
            <span class="change">
                <a href="{{ path('change_lang', {'_locale' : 'ru'}) }}" id="change-ru">ru</a>
                <a href="{{ path('change_lang', {'_locale' : 'en'}) }}" id="change-en">en</a>
            </span>
        </nav>
    </header>
{% endblock %}


