{% extends '@App/header.html.twig' %}

{% block title %}
    {{ 'Translation shop'|trans }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .wrapper {
            margin: 20px auto;
            width: 1000px;
            padding: 20px;
            border: 1px solid lightgray;
            text-align: center;
        }
        .form-block {
            width: 300px;
            margin: 20px auto;
            text-align: center;
        }
        .form-block #phrase_field {
            margin: 5px;
            width: 300px;
        }
        .phrases {
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
        }
        .phrases a {
            text-decoration: none;
            color: black;
        }
        .phrase {
            padding: 5px 10px;
            box-shadow: 0 1px 8px gray;
            margin: 5px 10px;
        }
        .phrase:hover {
            background: #ccffc6;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="wrapper">
        <h1>{{ 'Translation shop'|trans }}</h1>
        <div class="phrases">
        {% for phrase in phrases %}
            {% if phrase.currentLocale == 'en' %}
                <a href="{{ path('details', {'id' : phrase.id}) }}"><div class="phrase">{{ phrase.translate('en').phrase }}</div></a>
             {% else %}
            <a href="{{ path('details', {'id' : phrase.id}) }}"><div class="phrase">{{ phrase.translate('ru').phrase }}</div></a>
             {% endif %}
        {% endfor %}
        </div>
        {% if app.user %}
            <form class="form-block" action="{{ path('add_phrase') }}" method="post">
                <label for="phrase_field">{{ 'Enter the phrase in English'|trans }}</label><br>
                <input type="text" id="phrase_field" name="phrase"><br>
                <input type="submit" value="{{ 'Save'|trans }}" name="save_button">
            </form>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let phrases = $('.phrase');
        $.each(phrases, function (i, phrase) {
            if ($(phrase).text().trim() === '') {
                $(phrase).html(('<em style="color: red; font-size: 13px">no translation</em>'))
            }
        })
    </script>
{% endblock %}